header{
    float: left;
    width: 200px;
    height: 90vh;
    background-color: gray;
}

div.content{
    float: left;
    width: 500px;
    height: 90vh;
    color: white;
}

ui-view{
    float: left;
    width: 500px;
    height: 70vh;
    background-color: blanchedalmond;
    
}

footer{
    float: left;
    width: 500px;
    height: 20vh;
    background-color: brown;
}