<h1>I'm header!</h1>

<div class='sidebar-button'>
    <button class="btn btn-success">
        <a ui-sref="main" ui-sref-active="active">main</a>
    </button>
</div>
<div class='sidebar-button'>
    <button class="btn btn-success">
        <a ui-sref="content" ui-sref-active="active">content</a>
    </button>
</div>
<div class='sidebar-button'>
    <button class="btn btn-success">
        <a ui-sref="second" ui-sref-active="active">second</a>
    </button>
</div>
<div class='sidebar-button'>
    <button class="btn btn-success">
        <a ui-sref="multi" ui-sref-active="active">multi</a>
    </button>
</div>
