<div class="container-fluid">
    <div ng-controller="Dropdown" class="dd-container">
        <div class="left-section dl dl-depth-1">
            SPMS Directory tree
            <div class="dl dl-depth-2 assets">└ assets :
                <span class="des">local 에서 사용하는 파일 폴더</span>
                <div class="dl dl-depth-3 display-none">└ controllers :
                    <span class="des">내용 많은 Controller들이 저장되어 있다.</span>
                    <div class="dl dl-depth-4 display-none">└ administratorModeCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ basicDataCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ basicDataWizardCtrl</div>
                    <div class="dl dl-depth-4 display-none">└ dataExportCtrl</div>
                    <div class="dl dl-depth-4 display-none">└ iso19030Ctrl_1.js</div>
                    <div class="dl dl-depth-4 display-none">└ iso19030Ctrl_2.js</div>
                    <div class="dl dl-depth-4 display-none">└ mapboxGlJsTestCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ monitoring.js</div>
                    <div class="dl dl-depth-4 display-none">└ mrvDocumnetCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ mrvReprtCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ navLogCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ newShipDataControlCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ oceanMapCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ preVoyagePlanCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ shipDataControlCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ shipEmailReportCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ shipEventInsertCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ shipInstallInformation.js</div>
                    <div class="dl dl-depth-4 display-none">└ shipSdaqStatusCtrl.js</div>
                    <div class="dl dl-depth-4 display-none">└ voyageNumberCtrl.js</div>
                </div>
                <div class="dl dl-depth-3 display-none">└ crossbrowserjs :
                    <span class="des">cross browser issue</span>
                </div>
                <div class="dl dl-depth-3 display-none">└ css :
                    <span class="des">CSS</span>
                </div>
                <div class="dl dl-depth-3 display-none">└ fonts :
                    <span class="des">fonts</span>
                </div>
                <div class="dl dl-depth-3 display-none">└ image :
                    <span class="des">image</span>
                </div>
                <div class="dl dl-depth-3 display-none">└ js :
                    <span class="des">기본 js 저장</span>
                    <div class="dl dl-depth-4 display-none">└ angular-app.js</div>
                    <div class="dl dl-depth-4 display-none">└ angular-controller.js</div>
                    <div class="dl dl-depth-4 display-none">└ angular-directive.js</div>
                    <div class="dl dl-depth-4 display-none">└ angular-filter.js</div>
                    <div class="dl dl-depth-4 display-none">└ angular-resource.js</div>
                    <div class="dl dl-depth-4 display-none">└ angular-service.js</div>
                    <div class="dl dl-depth-4 display-none">└ angular-setting.js</div>
                    <div class="dl dl-depth-4 display-none">└ angular-share.js</div>
                    <div class="dl dl-depth-4 display-none">└ apps.js</div>
                    <div class="dl dl-depth-4 display-none">└ apps.min.js</div>
                    <div class="dl dl-depth-4 display-none">└ momnet.js</div>
                    <div class="dl dl-depth-4 display-none">└ particle.css</div>
                    <div class="dl dl-depth-4 display-none">└ particle.js</div>
                    <div class="dl dl-depth-4 display-none">└ particles.js</div>
                    <div class="dl dl-depth-4 display-none">└ particles.json</div>
                </div>
                <div class="dl dl-depth-3 display-none">└ less :
                    <span class="des">less로 작성된 CSS 목록</span>
                </div>
                <div class="dl dl-depth-3 display-none">└ plugins :
                    <span class="des">로드하는 라이브러리 목록</span>
                </div>
            </div>
            <div class="dl dl-depth-2 dist">└ dist :
                <span class="des">배포용 폴더이다.</span>
                <div class="dl dl-depth-3 display-none">└ components :
                    <span class="des">외부에서 불러오는 CSS 라이브러리 파일?</span>
                </div>
                <div class="dl dl-depth-3 display-none">└ images</div>
                <div class="dl dl-depth-3 display-none">└ jQuery</div>
                <div class="dl dl-depth-3 display-none">└ json</div>
                <div class="dl dl-depth-3 display-none">└ kendo</div>
                <div class="dl dl-depth-3 display-none">└ PDF</div>
                <div class="dl dl-depth-3 display-none">└ Script :
                    <span class="des">주요</span>
                </div>
                <div class="dl dl-depth-3 display-none">└ semantic</div>
                <div class="dl dl-depth-3 display-none">└ style</div>
                <div class="dl dl-depth-3 display-none">└ water</div>
            </div>
            <div class="dl dl-depth-2 Geojson">└ Geojson</div>
            <div class="dl dl-depth-2 template">└ template :
                <span class="des">html Template 목록</span>
                <div class="dl dl-depth-3 display-none">└ app.html</div>
                <div class="dl dl-depth-3 display-none">└ header.html</div>
                <div class="dl dl-depth-3 display-none">└ shipSelect.html</div>
                <div class="dl dl-depth-3 display-none">└ sidebar-right.html</div>
                <div class="dl dl-depth-3 display-none">└ sidebar.html</div>
                <div class="dl dl-depth-3 display-none">└ theme-panel.html</div>
                <div class="dl dl-depth-3 display-none">└ top-menu.html</div>
            </div>
            <div class="dl dl-depth-2 texture">└ texture</div>
            <div class="dl dl-depth-2 view">└ view :
                <span class="des">template 안에 들어가는 작은 html 목록</span>
                <div class="dl dl-depth-3 display-none">└ administrator_mode.html</div>
                <div class="dl dl-depth-3 display-none">└ basic_data_wizard.html</div>
                <div class="dl dl-depth-3 display-none">└ basic_data.html</div>
                <div class="dl dl-depth-3 display-none">└ data-export.html</div>
                <div class="dl dl-depth-3 display-none">└ index_back.html</div>
                <div class="dl dl-depth-3 display-none">└ index.html</div>
                <div class="dl dl-depth-3 display-none">└ ISO19030_analysis_1.html</div>
                <div class="dl dl-depth-3 display-none">└ ISO19030_analysis_2.html</div>
                <div class="dl dl-depth-3 display-none">└ login_v4.html</div>
                <div class="dl dl-depth-3 display-none">└ mapbox_gl_js_test.html</div>
                <div class="dl dl-depth-3 display-none">└ monitoring.html</div>
                <div class="dl dl-depth-3 display-none">└ mrv-document.html</div>
                <div class="dl dl-depth-3 display-none">└ mrv-report.html</div>
                <div class="dl dl-depth-3 display-none">└ navigation-log.html</div>
                <div class="dl dl-depth-3 display-none">└ new_shop_data_control.html</div>
                <div class="dl dl-depth-3 display-none">└ ocean_map.html</div>
                <div class="dl dl-depth-3 display-none">└ pre_voyage_plan.html</div>
                <div class="dl dl-depth-3 display-none">└ ship_data_control.html</div>
                <div class="dl dl-depth-3 display-none">└ ship_sdaq_status.html</div>
                <div class="dl dl-depth-3 display-none">└ shipEmailReport.html</div>
                <div class="dl dl-depth-3 display-none">└ shipEventInsert.html</div>
                <div class="dl dl-depth-3 display-none">└ shipInstallInformation.html</div>
                <div class="dl dl-depth-3 display-none">└ voyage_number_control.html</div>
            </div>
        </div>

        <div class="right-section">
            <button data-toggle="collapse" data-target="#html">HTML 구조</button>
            <button data-toggle="collapse" data-target="#ui-router">ui-router</button>
            <button data-toggle="collapse" data-target="#login-js">login-auth, token</button>
            <button data-toggle="collapse" data-target="#html-login-html">login-html, js</button>
            <button data-toggle="collapse" data-target="#api-1">API</button>            
            <button data-toggle="collapse" data-target="#animation">Animation</button>
            <button data-toggle="collapse" data-target="#handsontable">Handsontable</button> 
            <button data-toggle="collapse" data-target="#codingStyle">coding style</button> 
            <div class="html-des collapse" id="html">
                    <p>
                            <span class="subject">1. HTML 구조</span>
                            <br> 1-1. html 파일은 index.html > template > view 의 부모관계를 가진다.
                            <br> 1-2. index.html에서 ui-router로 각 template를 불러오고 template에서 ng-include를 통해 view를 불러오는 방식을 이용
                            <br> 1-3. /assets/js/angular-app.js 에서 ui-router를 관리한다.
                            <br> 1-4. (1-1 수정) 대부분의 html은 ui-router n단 라우팅에 의해 불러와 진다.
                    </p>
                    <p>
                        <span class="subject">2. layout setting</span>
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-content="<img src='{{url.layout}}'>">
                                소스코드 보기
                        </button>
                        <br> 2-1. $rootScope 변수는 최상위 스코프이며 싱글톤 패턴이 적용된 전역에서 사용가능한 스코프이다.
                        <br> 2-2. router가 변경될 시에 layout.setting 값이 변하고 js/angular-controller.js에 선언되어 있다.
                        <br> 2-3. ***layout 템플릿을 사용한다. js/apps.js에 선언되어 있다.
                    </p>
                    <p>
                        <span class="subject">3. apps.js</span>
                        <br>3-1. SPMS 구버젼에서 사용했던 템플릿으로 신버젼에서도 그 CSS 이외에 모든 레이아웃의 기초는 이 템플릿을 활용한다.
                        <br>3-2. js/angular-controller.js 에서 apps.js 의 App 함수의 내부 변수들에 참조하여 layout을 총괄한다.
                    </p>
            </div>
            <div class="html-des collapse" id="ui-router">
                <p>                    
                    <span class="subject">1. *ui-router</span>
                    <button type="button" class="btn btn-secondary" data-toggle="popover" data-content="<img src='{{url.route}}'>">
                        소스코드 보기
                    </button>
                    <br> 1-1. ui-router에서는 index.html의
                    <code>&lt;div ng-view&gt;</code> 를 기준으로 화면을 전환하는 라우팅서비스를 제공한다.
                    <br> 1-2. 모든 routing template의 url은 ''로 공백이며 data로 pageTitle 값을 보낸다. pageTitle은 web title을 바꾸는데 이용
                    <br> 1-3. template / templateUrl 을 이용해서 템플릿값을 설정한다.
                    <br> 1-4. ui-router에 app.analysis, app.map, app.elog, app.data, app.mrv 와 같이
                    <br> template에 <code> &lt;div ng-view&gt;&lt;/div&gt; </code>이 선언되어 있는데 이는 다중 라우터를 이용하기 위한 구문으로 보인다.
                    <span class="guess"></span>
                    <span class="question"></span>
                    <br> 1-5. state값을 이용하여 라우팅페이지를 구분한다. 이 값은 controller에서 $state 모듈를 로드하여 사용가능하다.
                </p>
                <p>
                    <span class="subject">2. *다중 라우팅</span>
                    <span class="guess"></span>
                    <br> 2-1. (1-4) 에 언급된 다중 라우팅에 관한 설명이다.
                    <br> 2-2. ParentState.ChildState.GrandChildState 와 같은 형태로 다중 라우팅 구성이 가능하다.
                    <br> 2-3. template에 &lt;div ng-view&gt;&lt;/div&gt;가 선언된 이유가 다중 라우팅을 구성하기 위한 기반으로 보인다.                    
                </p>
                <p>
                    <span class="subject">3. *resolve (ui-router의 기능)</span>
                    <br> 3-1. resolve는 ui-router를 통해 불러오는 라우팅 템플릿에 넘겨줄 데이터를 로드하는 기능이다.
                    <br> 3-2. resolve를 통해서 해당 template에 해당하는 controller.js 와 assets/plugins 의 필요한 기능을 로드한다.
                    <br>
                </p>
                <p>
                    <span class="subject">4. *ocLazyLoad (ui-router library)</span>
                    <br> 4-1. ocLazyLoad는 영역간의 물리적인 번들을 구분할 수 있도록 해준다.
                    <br> 4-2. 이를 통해서 라우팅 될때마다 모든 모듈을 불러오는 것을 막을 수 있고 라우팅 로드 속도를 향상시킬 수 있다.
                    <br> 4-3. 하지만 각각 별도의 번들에 접근 권한을 인증받지 않기 때문에 보안 이슈가 존재한다.
                </p>
                <p>
                    <span class="subject">*ocLazyLoad parameters { name - type(defaultValue) }</span>
                    <br> 1. cache - boolean(true) : 'cache: false'는 모든 기본 로더에서 작동하며
                    <br> 이것을 사용하면 로더는 브라우저 캐시를 우회하기 위해 URL에 타임 스탬프를 추가한다.
                    <br> 2. reconfig - boolean(false) : 모듈을 다시 로드하면 기본적으로 예기치 않은 결과가 발생할 수 있으므로
                    <br>config 블록이 다시 호출되지 않습니다. 이때 config 함수 호출이 반드시 필요하면 'reconfig: true' 속성값을 주면 된다.
                    <br> 3. rerun - boolean(false) : reconfig와 같이 run을 반드시 다시 실행해야할때 'rerun: true'값을 주면 된다.
                    <br> 4. serie(serial) - boolean(false) : 기본적으로 로더는 파일을 병렬로 로드한다.
                    <br> 파일을 직렬로 로드해야하는 경우 'serie : true'를 사용할 수 있습니다.
                    <br> 5. insertBefore - boolean(undifined) : 기본적으로 file은 head 요소의 마지막 요소 앞에 삽입된다.
                    <br> 하지만 'insertBefore: cssSelector'를 사용하여 이를 재정의 할 수 있습니다.
                </p>
                <p>
                    <span class="subject">5. $state</span>
                    <br> 5-1. SPMS 페이지는 ui.router 모듈의 state 속성값으로 route를 수행한다.
                    <br> 5-2. state 값은 controller에서 $state 파라미터로 받아올 수 있다. <code>($state.$current.name) </code>
                    <br> 5-3. angular-controler.js 에서 페이지 변경시 마다 switch문을 통해서 animation과 $rootScope.setting.layout 값 등을 변경한다.
                    <br> 5-4. DOM이 새롭게 로딩될 때마다 documentReady() 메소드를 실행한다.
                    <br> 5-5. documentReady()은 상단 nav bar의 데이터를 관리한다. (update log modal, , now selected ship's departure, arrival
                    point)
                </p>

            </div>
            <div class="html-des collapse" id="login-js">
                <p>
                    <span class="subject">A. Login module config </span>
                </p>
                <p>
                    <span class="subject"> 1. authProvider</span>
                    <br> 1-1. authProvider.init에서 domain, clientID, loginState 설정값을 통해서 로그인 기능을 선언한다.
                    <br> clientID, Domain - 최초 auth0 서비스 이용시 애플리케이션을 세팅할 때 지정하는 값
                    <br> loginState - 현재 로그인 상태를 알려주는 값 <span class="guess"></span>

                </p>
                <p>
                    <span class="subject"> 2. $qProvider</span>
                    <br> 2-1. $qProvider.errorOnUnhandledRejections(false); 구문을 통해서 Possibly unhandled rejection: {} 에러를 예외처리한다.
                </p>
                <p>
                    <span class="subject"> 3. jwpOptionsProvider</span>
                    <br> 3-1. JWT 기능을 제공한다. 모듈명은 'angular-jwt'
                    <br> 3-2. JWT(Json Web Token) : JSON 포맷을 이용한 Web Token
                    <br> 두 개체에서 JSON 객체를 이용해 Self-contained 방식으로 정보를 안전하게 전달.
                    <br> 3-3. Claim based Token (JWT의 속성)
                    <br> 3-3-1. Claim은 사용자에 대한 프로퍼티,속성을 말한다.
                    <br> 3-3-2. 토큰 자체가 정보이다. -> Self-contained(자체 포함, 즉 토큰 자체가 정보)
                    <br> Infoamtion) 토큰 방식은 쿠키 기반 로그인을 피하기 위하기 위해 사용
                    <br>
                    <button data-toggle="collapse" data-target="#token-code">
                        3-4. 크로스 도메인 관련 코드 분석
                    </button>                    
                    
                    <button type="button" class="btn btn-secondary" data-toggle="popover" placement='left' data-content='<img src="{{url.cross}}">'>
                        소스코드 보기
                    </button>
                    <div class="html-des collapse" id="token-code">
                        <span id="subsubject">
                            store
                        </span>
                        <br> - ngAnnotate가 자동으로 tokenGetter 메소드를 감지하지 못해서 store 서비스를 파라미터로 받아온다.
                        <span id="subsubject">$httpProvider.interceptors.push('jwtInterceptor');</span>
                        <br> - $http provider는 interceptor 배열을 가지고 있다. interceptor는 일반 서비스 팩토리입니다.
                        <br>interceptor 배열에 새로운 요소를 넣는 구문이다.
                        <br>
                        <span id="subsubject">$locationProvider.html5Mode(true);</span>
                        <br> - html5Mode()의 값을 true로 설정하는 경우 html5의 history API를 참조하여
                        <br>url관련 기능을 사용할 수 있게한다. 여기서 내부적으로 pushstate()를 사용할 수 있게한다.
                        <br> - html5의 history API에서 pushState()를 사용할 수 있음
                        <br> - 라우팅 주소창에 # 없이 이용 가능
                        <br>
                        <span id="subsubject"> $httpProvider.defaults.useXDomain = true;</span>
                        <br> - AngularJS에서는 기본설정으로 Cross-Domain에 대해서 AJAX 요청을 보내면 접근제어 에러가 발생한다.
                        <br> - 이는 JQuery의 $.ajax 함수를 이용해 간단하게 해결 가능하다.
                        <br> - AngularJS에서 Cross-Domain에 대한 AJAX 통신을 위해서는 두가지 작업이 필요하다.
                        <br> - 1. 헤더 변경, 2. JSON data를 URL 쿼리 문장으로 파싱
                        <br>
                        <span id="subsubject">delete $httpProvider.defaults.headers.common['X-Requested-With'];</span>
                        <br> - 기존의 AngularJS 에서의 크로스 도메인 접근제어 헤더를 삭제
                        <br>
                        <span id="subsubjct">$httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                            <br> - 크로스 도메인 POST 요청에 대한 새로운 정의
                    </div>

                </p>
                <p>
                    <span class="subject">B. Login module run</span>
                
                <br> 1. $locationChangeStart 를 통해서 Url이 변경을 감시한다.
                <br> 2. 만약 현재 유저의 Auth인증이 되지 않은 상태라면 토큰을 받아온다.
                <br> 3. 토큰이 만기되었다면 로그인 화면으로 이동시킨다.
                <br> 4. 토큰이 만기되지않았다면 Auth인증을 받는다.
                </p>
                <p>
                    <span class="subject">C. Login process flow</span>
                    <br>authProvider.init을 통해 초기설정 -> jwt 옵션[크로스도메인] 설정  (jwtOptionsProvider) 
                    <br>-> jwtInterceptorProvider.tokenGetter로 토큰 받아옴 -> angular도 크로스도메인 설정 -> B의 run 메소드를 통해 실행
                    <span class="question"></span>
                    <span class="guess"></span>
                </p>

                <p> 로그인 흐름에 대해서 더 깊에 이해하고 알아보기 </p>
            </div>
            <div class="html-des collapse" id="html-login-html">
                <p>
                    <span class="subject">views/login_v4.html</span>
                </p>
                <p>
                    <span class="subject">1. Grid</span>
                    <br> 1-1. grid는 크게 particle animation을 실행하는 news-feed 영역과 로그인 화면을 담고있는 right-content 영역으로 나눠져 있다.
                    <br> 1-2. right-content는 로그인 화면과 비밀번호 찾기 화면으로 구성되어 있고 a 하이퍼링크를 통해서 스위칭 가능하다.
                    <br> 1-3. Forgot password? 버튼 클릭시 js/angular-controller의 $scope.passwordRest() 메소드를 통해 애니메이션 처리가 수행된다.
                    <br> 1-4. Return Log In 버튼 클릭시 js/angular-controller의 $scope.returnLogin() 메소드를 통해 애니메이션이 처리된다.
                    <br> 1-5. 두 애니메이션의 처리는 JQuery.animation 으로 이뤄진다.
                </p>
                <p>
                    <span class="subject">2. Forgot password email 송신</span>
                    <br> 2-1. 이메일 입력 후 sendEmail 버튼 클릭시 js/angular-controller의 $scope.sendEmail() 가 실행된다.
                    <br> 2-2. 이메일을 입력하지 않고 제출할 경우 input에 wrong-input-email가 추가된다. -> 경고 feedback css -> 이는 0.3초뒤에 다시 삭제된다.
                    <br> 2-3. 잘못된 형식의 이메일을 입력할 경우
                    <code>&lt;div id="wrongEmail"&gt; 입력한 이메일을 확인하여 비밀번호를 변경해 주세요 &lt;/div&gt;</code> 가 생성된다.
                    <br> 2-4. 정규식 조건은 assets/plugins/valib.js/valib.js 에 정의되어 있다.
                    <br> 2-5. 성공적으로 이메일 입력 시 auth.reset 서비스 메소드를 통해서 userEmail이 보내진다. user.pass는 undifined가 된다.
                </p>

            </div>
            <div class="html-des collapse" id="api-1">
                <p>                   
                    <span id="subsubject">기초</span>
                    <br>1. 모든 API의 정의는 js/angular-service.js에 정의되어 있다.
                    <br>2. 모든 token값이 필요한 API는 jokes라는 변수값을 통해 데이터를 반환받는다.
                    <br><span id="subsubject">$resource</span>                     
                    <br>구조 - $resource(url, [paramDefaults], [actions], options); 
                    <button type="button" class="btn btn-secondary" data-toggle="popover" data-content='<img src="{{url.api}}">'>
                            소스코드 보기
                    </button>
                    <br>1. [paramDefaults] 
                    <br>- url parameter의 기본값, 액션 메소드(get, post, delete, put)에 의해 오버라이드 될 수 있다.
                    <br>- 매개변수가 함수 값일 경우 요청에 대해서 매개변수 값을 필요 시 마다 호출한다.
                    <br>- 템플릿 /path/:verb와 파라미터 {verb: 'greet', salutation: 'Hello'}의 결과가 URL에는 /path/greet?salutation=Hello 로 들어간다.
                    <br>- 매개변수 값의 접두사가 '@'면 해당 매개 변수의 값이 데이터 객체의 해당 속성에서 추출된다 <span class="question"></span> 무슨말이지?
                    <br>- 예를들어) {someParam: '@someProp'}이면 someParam의 값은 data.someProp가 된다. <span class="question"></span> 이건 또 무슨말이지?
                    <br>2. [actions]
                    <br>- 기본 리소스 작업 집합 외에도 사용할 수 있는 사용자 지정 동작 선언이 있는 해시입니다. 
                    <br>동일한 이름의 기존작업이 잇다면 덮어쓰고 기능을 확장하진 않습니다.
                    <br>-action : string = action의 이름으로 리소스 객체의 메소드 이름이 된다. 
                    <br>-method : string = 대소문자를 구분하지 않는 HTTP 메소드 (GET, POST, PUT, DELETE, JSON, etc)
                    <br>-params : object = 이 액션에 대한 사전 바인딩 된 매개 변수의 선택적 세트 매개 변수 값 중 하나가 함수이면 매개 변수 값을 요청할 때마다 호출된다. 이 함수는 현재 데이터 값을 인수로 전달합니다.
                    <br>-url : string = 특정 URL에 대한 작업을 재정의합니다. url 템플릿은 resource-level과 마찬가지로 지원됩니다.
                    <br>-isArray : boolean = 참이면 이 액션에 대해 반환 된 객체는 배열입니다.
                    <br>-transformRequest : {function(data, headersGetter)}

                </p>
            </div>
            <div class="html-des collapse" id="animation">
                <p>
                    <span class="subject">1. btn-up /  btn-down </span>
                    <button type="button" class="btn btn-secondary" data-toggle="popover" data-content="<img src='{{url.btn_up}}'>">
                            소스코드 보기
                    </button>
                    <br>1-1. srcPanel : 부모 요소  |  targetPanel : 타겟 요소 (btn-up시에는 prev(), btn-down시에는 next())
                    <br>1-2. srcHeight : srcPanel.outerHeight() -> 바깥라인의 높이 값을 표현 | targetHeight 동일
                </p>
                <p>
                   <span class="subject">2. tweenLite - GSAP Library</span>
                   <br> 2-1. GSAP 라이브러리는 Lite하게 끌어쓸 수 있는 애니메이션 라이브러리이다. (풀버젼은 TweenMax 이다.)
                   <br> 2-2. 다양한 애니메이션 기능을 이용가능하니 후에 Docs 참조해서 사용해보는 것도 좋을 듯 하다.
                   <br> 2-3. <button data-toggle="collapse" data-target="#tween">TweenLite.fromTo Description</button>
                   <div class="collapse" id="tween">
                       <img src="{{url.tween}}">
                   </div>
                   <br> 2-4. 애니메이션이 끝나고 콜백함수가 선언이 되어있는데, 조건(타겟이 있을경우 -> 이벤트가 실행될 경우)
                   <br> 2-4-1. targetPanel.before (btn-up 시에)  | targetPanel.after(btn-down 시에) 처리를 통해서 dom을 수정한다.
                   <br> 2-5. srcPanel.css | targetPanel.css 에서 'top' 속성을 '0px'로 재 변경한다. 이에 대한 이유를 3에서 설명한다.                   
                </p>
                <p>
                    <span class="subject">3. animation flow</span>
                    <br>3-1. 위 아래 버튼 클릭 시 해당 패널과 변경할 위치의 패널을 타겟팅 한다. (변경할 위치의 패널을 타겟패널이라 명칭한다.)
                    <br>3-2. 패널들의 높이를 측정한다.
                    <br>3-3. 애니메이션을 적용한다. (Top 속성을 통해서 transition 효과를 준다.)
                    <br>3-4. 애니메이션이 완료된 후 애니메이션의 결과를 Dom에 적용한다. (이를 생략할 시 애니메이션 이후 원래 DOM 형태로 돌아가게 된다.)
                    <br>3-5. <code>var order = getOrder('.panel, $('.leftDiv')[0]);</code> 코드를 실행한다. <span class="question"></span> 무엇에 쓰는고?
                </p>
            </div>
            <div class="html-des collapse" id="handsontable">
                <p>
                    <span class="subject">Handsontable library</span>
                    <br>스프레드 시트를 html Dom에 표시해주는 라이브러리이다.
                    <br>   <span id="subsubject">SPMS 소스에 적용되어 있는 옵션</span> 
                    <br>1. data - data grid(표)에 반영되는 초기 data source. (data grid 편집은 data source을 변경한다.) 배열, 배열 객체, 함수로 선언가능
                    <br>2. colHeaders - col의 header부분에 표시될 텍스트 boolean 값으로 설정 가능하며 배열로 설정 가능하다. <code>['shipName', 'shipPrice']</code> (rowHeaders도 동일하다.)
                    <br>3. columns - 특정 열에 대한 셀 속성 및 데이터 바인딩을 정의합니다. (이 옵션을 사용하면 고정 된 수의 열을 설정할 수 있다. starCols, minCols, maxCols 옵션은 무시됩니다.)
                    <br>3-1. data in columns - 데이터의 정렬 순서를 지정한다 {data : index, 'keyName'}
                    <br>3-2. validation - 셀 검증 과정에서 사용될 함수 또는 정규 표현식 (유효성 검사가 통과되면 true(콜백(true)) 실패시 false(콜백(false))가 리턴된다. 함수의 this는 cellProperties 객체를 가리킨다.)
                    <br>4. maxRows, maxCols - 행열 최대치 설정값
                    <br>5. stretchH - 선언된 테이블 너비가 모든 열 너비의 계산 된 합계와 다른 경우 열의 반응 방식을 정의합니다. (none - 짤림, last - 마지막열만 늘림, all - 모든 열을 균등하게 늘림)
                    <br>6. renderAllRows - true 값을 주게 되면 handsontable의 가상 렌더링 메커니즘이 적용된다. (<span class="question"></span> 그게 먼지는 모르겟다.)
                    <br>7. filters - 기본 제공 구성 요소 또는 API를 사용하여 테이블 데이터를 필터링 할 수 있습니다.
                    <br>8. height - 그리드의 높이, 숫자 혹은 숫자를 리턴하는 콜백을 넣을 수 있다.
                    <br>9. currnetRowClassName - 'currentRow' 값을 입력하면 해당 row에 클래스를 추가한다. 
                    <br>10. cells - function(row, col, prop) 함수로 정의 가능 지정된 행, 열, 프로퍼티에 대한 셀 속성을 정의합니다.                    
                </p>
            </div>
            <div class="html-des collapse" id="codingStyle">
                <p><span class="subject">Coding style 관련문서</span>
                <br> 1. javascript variable naming은 웹표준을 따른다. (wordWordWord 패턴)
                <br> 2. api의 naming은 'api + requestValue' 형식으로 한다. (예외 다수 존재)
                <br> 2-1. 세부 데이터 통신은 'api + requestValue + _detail + _detail' 형식으로 한다. 
                <br> 3. content grid 설정은 bootstrap-css 방식을 이용한다.
                <br> 4. 
                </p>
            </div>
        </div>
    </div>
</div>

