<div ng-controller="content">
    <h1>Content On!</h1>
    <input type="text" ng-model="col_per_row">
    <hr>
    <div class="box-container">
        <div class="content-box" id="box">
            <h1>box1</h1>
            <div class="button-group">
                <button class="btn-up">UP</button>
                <button class="btn-down">DOWN</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                magnam exercitationem voluptas.
            </p>
        </div>
        <div class="content-box" id="box">
            <h1>box2</h1>
            <div class="button-group">
                <button class="btn-up">UP</button>
                <button class="btn-down">DOWN</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                magnam exercitationem voluptas.
            </p>
        </div>
        <div class="content-box" id="box">
            <h1>box3</h1>
            <div class="button-group">
                <button class="btn-up">UP</button>
                <button class="btn-down">DOWN</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                magnam exercitationem voluptas.
            </p>
        </div>
        <div class="content-box" id="box">
            <h1>box4</h1>
            <div class="button-group">
                <button class="btn-up">UP</button>
                <button class="btn-down">DOWN</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                magnam exercitationem voluptas.
            </p>
        </div>
        <div class="content-box" id="box">
            <h1>box5</h1>
            <div class="button-group">
                <button class="btn-up">UP</button>
                <button class="btn-down">DOWN</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                magnam exercitationem voluptas.
            </p>
        </div>
        <div class="content-box" id="box">
            <h1>box6</h1>
            <div class="button-group">
                <button class="btn-up">UP</button>
                <button class="btn-down">DOWN</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                magnam exercitationem voluptas.
            </p>
        </div>
        <div class="content-box" id="box">
            <h1>box7</h1>
            <div class="button-group">
                <button class="btn-up">UP</button>
                <button class="btn-down">DOWN</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                magnam exercitationem voluptas.
            </p>
        </div>
        
        <div class="content-box" id="box">
                <h1>box8</h1>
                <div class="button-group">
                    <button class="btn-up">UP</button>
                    <button class="btn-down">DOWN</button>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                    minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                    quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                    maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                    doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                    magnam exercitationem voluptas.
                </p>
            </div>
            <div class="content-box" id="box">
                    <h1>box9</h1>
                    <div class="button-group">
                        <button class="btn-up">UP</button>
                        <button class="btn-down">DOWN</button>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                        minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                        quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                        maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                        doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                        magnam exercitationem voluptas.
                    </p>
                </div>
                <div class="content-box" id="box">
                        <h1>box10</h1>
                        <div class="button-group">
                            <button class="btn-up">UP</button>
                            <button class="btn-down">DOWN</button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                            minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                            quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                            maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                            doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                            magnam exercitationem voluptas.
                        </p>
                    </div>
                    <div class="content-box" id="box">
                            <h1>box11</h1>
                            <div class="button-group">
                                <button class="btn-up">UP</button>
                                <button class="btn-down">DOWN</button>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam ut ducimus similique vero deserunt sed
                                minima molestias modi illo obcaecati architecto exercitationem explicabo quod, sapiente eos. Ducimus, quaerat
                                quasi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed eos ratione ullam velit voluptatibus
                                maiores nisi a ipsam natus. Accusamus impedit dolores maxime ut omnis exercitationem nesciunt sit libero.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis totam, vitae reiciendis voluptatibus
                                doloremque cupiditate, voluptates libero harum delectus, explicabo rem ullam quam autem recusandae perspiciatis
                                magnam exercitationem voluptas.
                            </p>
                        </div>

    </div>
</div>